section.approch
	.container
		.title.title--with-bottom-line
			h2.title.title__header Our Approch
			.title__text Check Our approches step by step

		ul.approch__list
			li.approch__item
				.approch__image
					img.approch__picture(src="../images/step-4.jpg" alt="step-1")
					.approch__step step
				.approch__text
					.approch__title Step 1 : Heading Here
					p.approch__desription.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nam dolore quasi atque, nobis cumque temporibus ipsa! Deleniti fugiat fuga blanditiis sit saepe sequi expedita?
			li.approch__item
				.approch__image
					img.approch__picture(src="../images/step-1.jpg" alt="step-1")
					.approch__step step
				.approch__text
					.approch__title Step 1 : Heading Here
					p.approch__desription.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nam dolore quasi atque, nobis cumque temporibus ipsa! Deleniti fugiat fuga blanditiis sit saepe sequi expedita?
			li.approch__item
				.approch__image
					img.approch__picture(src="../images/step-2.jpg" alt="step-1")
					.approch__step step
				.approch__text
					.approch__title Step 1 : Heading Here
					p.approch__desription.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nam dolore quasi atque, nobis cumque temporibus ipsa! Deleniti fugiat fuga blanditiis sit saepe sequi expedita?
			li.approch__item
				.approch__image
					img.approch__picture(src="../images/step-3.jpg" alt="step-1")
					.approch__step step
				.approch__text
					.approch__title Step 1 : Heading Here
					p.approch__desription.
						 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nam dolore quasi atque, nobis cumque temporibus ipsa! Deleniti fugiat fuga blanditiis sit saepe sequi expedita?
