section.form-section
	.container
		.title
			h2.title.title__header Get Your Free Facebook Analysits Now
			.title__text Enter your details below

		.btn-down: a.arrow-down: i.fa.fa-angle-down


		.form-container
			form(method="post" action="#").form
				button(type="button").form__close-button x
				.form__text.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore harum quos cum tempora nihil dolore suscipit, possimus ducimus mollitia iure, reprehenderit sit corrupti et alias autem quia, impedit debitis! Quos.
				.form__fields
					input.form__input(type="text" placeholder="Your Name")
					input.form__input(type="text" placeholder="Contact Number")
					input.form__input(type="text" placeholder="Contact Name")
				button(type="submit").button.button--red Submit Now